<!-- Portfolio Grid Section -->
<section id="portfoliox">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<h2>Biografie</h2>
				<hr class="star-primary">
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<h3>Experienta Profesionala</h3>
				<ul>
					<li>Medic primar ORL la Spitalul Ministerului de Justitie
						„Prof. Dr. Constantin Angelescu” Bucuresti</li>
					<li>Medic Coordonator al Ambulatorului de Specialitate.</li>
					<li>Medic primar ORL in Centrul Medical Apolo.</li>
					<li>2004 – Atestare de Specializare Aprofundata in
						Oto-Rhino-Laringologie si Chirurgie Cervico-Faciala, Universitate
						de Sanatate si de Drept, Lille, Franta.</li>
					<li>2003 – Medic Specialist ORL – Spitalul Clinic Universitar
						(CHU) Lille, ORL si Chirurgie Cervico-Faciala, Prof. A. Desaulty,
						(Franta).</li>
					<li>2002 – Medic Specialist ORL – Spitalul Clinic Universitar
						(CHU) Bordeaux, Chirurgie Cervico-Faciala si Pediatrie ORL, Prof.
						Traissac si Prof. Bebear, (Franta).</li>
				</ul>
				<h3>Cursuri de Perfectionare</h3>
				<ul>
					<li>2005 – Curs de Perfectionare, Micro-chirurgie Larigiana cu
						Laser, (Bucuresti).</li>
					<li>2005 – Endoscopie digestiva – Diagostic si
						Terapeutica.(Bucuresti).</li>
					<li>2001 – Curs Chirurgie Endoscopica Rhino-Sinusala</li>
				</ul>
			</div>
			<div class="col-md-6">
				<h3>Cursuri</h3>
				<ul>
					<li>1999 – Diagnosticul si Tratamentul Paraliziei Faciale,
						(Bucuresti).</li>
					<li>1999 – Tratamentul Surditatii, (Bucuresti).</li>
					<li>1999 – Patologia Traumatismului in ORL, (Bucuresti).</li>
					<li>2000 – Curs Otologie, (Germania).</li>
					<li>2000 – Curs Rhinoseptoplastie, (Germania).</li>
					<li>2000 – Curs Disectia Osul Temporal, (Germania).</li>
					<li>2001 – Tiroidectomie Ambulatorie in ORL, (Bucuresti).</li>
					<li>2001 – 5th Postgraduate Course of Otology, Congenital
						Aural Atresia, Prof. Antonio De La Cruz, (Bucuresti).</li>
					<li>2001 – Curs Otologie, Prof. B. ARS, Prof. A. De La Cruz,
						(Bucuresti).</li>
					<li>2001 – Curs Chirurgie Endoscopica Rhino-Sinusala,
						(Bucuresti).</li>
					<li>2002 – Curs de Chirurgie Cervicala in Cancerologie, Prof.
						Traissac, Institut G. Portmann, Bordeaux, (Franta).</li>
					<li>2003 – Curs Septorhinoplastie Functionala, Prof. D. Stoll,
						Institut G. Portmann, Bordeaux, (Franta).</li>
					<li>2005 – Curs de Microchirurgie Mastoidiana, Prof.
						Vaneecloo, (Franta).</li>
					<li>2005 – Curs Chirurgia Implantului Cohlear, Prof.
						Vaneecloo, (Franta).</li>
					<li>2007 – Curs de Managementul Spitalicesc, (Bucuresti).</li>
				</ul>
			</div>
		</div>
		<p>
			<!-- row -->
		</p>
		<hr class="star-primary">
		<div class="row">
			<div class="col-md-6">
				<h3>Congrese</h3>
				<ul>
					<li>1998 – Al 6-lea Congres International al Asociatiei
						Europene de Laser Medical, (Bucuresti).</li>
					<li>1998 – Al 29-lea Congres National ORL , (Bucuresti).</li>
					<li>1999 – A 10-a Conferinta Nationala a Medicilor Militari
						ORL, (Brasov).</li>
					<li>1999 – Al 7-lea Congres Francofon ORL, (Bucuresti).</li>
					<li>1999 – La Viie Congres d’ORL et de Chirurgie
						Cervico-Faciala, (Bucuresti).</li>
					<li>2000 – 4th European Congress of ORL Head and Neck Surgery,
						(Germania).</li>
					<li>2000 – Conferinta Nationala ORL si Chirurgie
						Cervico-Faciala, (Constanta).</li>
					<li>2000 – Conferinta Nationala a Medicilor Militari ORL,
						(Bucuresti).</li>
					<li>2001 – Conferinta Nationala ORL si Chirurgie
						Cervico-Faciala, (Bucuresti).</li>
					<li>2002 – Primul Congres National al Asociatiei Romane in
						Chirurgie Endoscopica cu participare internationala, (Bucuresti).</li>
					<li>2003 – Societatea ORL din Bordeaux si din Sud-Ouest,
						(Franta).</li>
					<li>2003 – 14éme Journée d’Otologie du Nord, Lille, (Franta).</li>
					<li>2004 – Societé ORL du Nord, Enseignement Post
						Universitaire, Lille, (Franta).</li>
					<li>2004 – Journées Lilloises des Controverses ORL, Lille,
						(Franta).</li>
					<li>2006 – Congres de Oftalmologie</li>
					<li>2007 – Conferinta Nationala ORL si Chirurgie
						Cervico-Faciala, (Constanta).</li>
				</ul>
			</div>
			<div class="col-md-6">
				<h3>Scoala</h3>
				<ul>
					<li>2013 – Medic Primar ORL.</li>
					<li>2002 – Medic Specialist ORL.</li>
					<li>1997 – 2002 – Medic rezident ORL, IFA-CF ORL „Prof. Dr. D.
						Hociota”, (Bucuresti).</li>
					<li>1991 – 1997 – Facultatea de Medicina Generala „Carol
						Davila”, (Bucuresti).</li>
					<li>1991 – Bacalaureat, (Bucuresti).</li>
				</ul>
				<h3>Articole Publicate</h3>
				<ul>
					<li>Rinootolicvoree-Diagnostic Clinic, Endoscopic si
						Imagistic.</li>
					<li>Consideratii asupra Otitei Medii Fibroadeziva.</li>
					<li>Sindromul Surditatii de Perceptii Brusc Instalate.</li>
					<li>Principiul de Video-Chirurgie Endo-Esofagiana.</li>
					<li>Conideratii asupra unor Vestigii Embrionare
						Cervico-Faciale.</li>
					<li>Osteom al Portiunii Timpanice a Apeductului Fallopian.</li>
					<li>Consideratii privind Paralizia de Nerv Facial, Complecatii
						post Operatorii.</li>
				</ul>
				<h3>Membru al organizatiilor</h3>
				<ul>
					<li>Colegiul Medicilor din Bucuresti.</li>
					<li>Societatea Romana ORL.</li>
					<li>Societatea Romana pentru Chirurgie Endoscopica.</li>
				</ul>
			</div>
		</div>

	</div>

</section>