    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 footer-col">
                        <address>
                        <strong>Centrul Medical Apolo</strong><br />
                        Str. CORIOLAN CAIUS MARCIUS NR. 41, sector 5, Bucuresti 050866 <br />(artera din Bulevardul TUDOR VLADIMIRESCU)
                        
                        <abbr title="Phone">Telefoane:</abbr> 021.410.17.70 / 021.410.16.15
                        <a href="mailto:o&#102;fic&#101;&#64;ha&#115;sa&#110;&#45;m&#97;&#115;r&#105;&#45;&#111;r&#108;.&#114;&#111;">o&#102;&#102;i&#99;&#101;&#64;&#104;&#97;&#115;s&#97;n&#45;m&#97;&#115;r&#105;&#45;&#111;rl&#46;r&#111;</a>
                        </address>
                    </div>
                    <div class="col-md-4 footer-col">
                        <ul class="list-inline">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2849.595180210982!2d26.073000615798374!3d44.42095211046261!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1ff70bc4a1799%3A0x5ddbddaa2592437e!2sCentru+Medical+Apolo!5e0!3m2!1sro!2sro!4v1459439914780" width="100%" height="270" frameborder="0" style="border:0" allowfullscreen></iframe>
                            
                        </ul>
                    </div>
                    <div class="col-md-4 footer-col">
                        <h3>Cauta in site</h3>
                        <script>
  (function() {
    var cx = '014859930865326782757:3x41oocc8cy';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:search></gcse:search>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        Copyright &copy; Dr. Hassan Masri 20{{ site.time | date: '%y' }}
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>
