<!-- Portfolio Grid Section -->
<section id="portfolio">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<h2>Galerie</h2>
				<hr class="star-primary">
			</div>
		</div>
		
        <div class="row">
            {% for gallery in site.data.gallery %}
                <div class="col-md-4 portfolio-item">
                    <a href="{{site.baseurl}}/img/gallery/{{ gallery.image }}" data-toggle="lightbox" data-gallery="multiimages" data-title="{{ gallery.title }}">
                        <img src="{{site.baseurl}}/img/gallery/{{ gallery.image }}" class="img-responsive img-rounded" alt="{{ gallery.title }}" title="{{ gallery.title }}">
                    </a>
                </div>
            {% endfor %}
        </div>
     </div>
</section>
