<!-- Header -->
<header class="container-fluid">
    <div class="row">
        <div class="col-md-12">
      <div class="container">
          <div class="row" >
              <div class="col-md-12 text-center">
                  <div class="intro-text">
                      <span class="name">Bine v-am gasit,</span>
                      <hr class="star-lightx">
                      <span class="skills">Sunt Hassan Masri, doctor primar ORL,
                          specialist in chirurgie estetica faciala si cervico-faciala</span>
                  </div>
              </div>
          </div>
      </div>
  </div>
 </div>
</header>