<!-- About Section -->
<section id="about">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<h2>Servicii</h2>
				<hr class="star-primary">
			</div>
		</div>

		<div class="row">
			<div class="col-md-4 column_first">
				<div class="feature-box secundary">
					<div class="feature-box-info">
						<h3 class="shorter">
							<i class="fa fa-group fa-3x"></i> Orofaringe
						</h3>
						<ul>
							<li>Adenoidectomie (ablatie vegetatii adenoide)</li>
							<li>Amigdalectomie (aplicarea Laser si Radiofrecventa)</li>
							<li>Incizie si drenai flegmon peri-amigdalian</li>
							<li>Sectionare fren lingual</li>
							<li>Biopsie</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="col-md-4 column_first">
				<div class="feature-box secundary">
					<div class="feature-box-info">
						<h3 class="shorter">
							<i class="fa fa-medkit fa-3x"></i> Esofag
						</h3>
						<ul>
							<li class="tall">Esofagoscopie (endoscopie digestiva
								superioare)</li>
							<li class="tall">Extractie corpi straini esofagieni
								(esofagoscopie)</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="col-md-4 column_last">
				<div class="feature-box secundary">
					<div class="feature-box-info">
						<h3 class="shorter">
							<i class="fa fa-music fa-3x"></i> Otologie (ureche)
						</h3>
						<ul>
							<li class="tall">Plastie pavilion auricular</li>
							<li>Miringotomie si Timpanoplastie</li>
							<li>Mastoidectomie</li>
							<li>Amplasare tub transtimpanal</li>
							<li>Ablatie tumori benigne de conduct auditiv extern</li>
							<li>Aspiratie auricular</li>
							<li>Audiometrie</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="row">

			<div class="col-md-6">
				<div class="feature-box secundary">
					<div class="feature-box-info">
						<h3 class="shorter">
							<i class="fa fa-user-md fa-3x"></i> Rinologie (nas)
						</h3>
						<ul>
							<li class="tall">Rinoseptoplastie</li>
							<li>Rezectie – repozitie sept nazal (Deviatie de Sept Nazal)</li>
							<li>Drenaj hematom septal</li>
							<li>Redresare piramida nazala</li>
							<li>Endoscopii nazale (nazofibroscopie)</li>
							<li>Chirurgie Endoscopica Rinosinuzala (polipoza nazala,
								polip sinuso-coanal, mucotomii cornet inferior)</li>
							<li>Electro-cauterizare, Radiofrecventa, Laser – cornete
								nazale hipertrofice</li>
							<li>Biopsie, Aerosoli</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="col-md-6">
				<div class="feature-box secundary">
					<div class="feature-box-info">
						<h3 class="shorter">
							<i class="fa fa-stethoscope fa-3x"></i> Faringolaringologie
						</h3>
						<ul>
							<li class="tall">Aplicarea Laser in sfera ORL</li>
							<li class="tall">Biopsie si exereze tumori in sfera ORL</li>
							<li class="tall">Exereza papiloame laringiene</li>
							<li class="tall">Exereza polipi</li>
							<li class="tall">Noduli coarda vocala</li>
							<li class="tall">Extractie corpi straini farigieni si
								laringieni</li>
							<li class="tall">Cura chirurgicala a chistului de tract
								tireoglos</li>
							<li class="tall">Exereza chiste si fistule latero-cervicale</li>
							<li class="tall">Incizii colectii latero-cervicale</li>
							<li class="tall">Evidare ganglionara latero-cervicala</li>
							<li class="tall">Laringectomie (partiala si totala)</li>
							<li class="tall">Submaxilotomie</li>
							<li class="tall">Traheotomie</li>
						</ul>
					</div>
				</div>
			</div>

		</div>


	</div>
</section>